.vscode/**
.git/**
.gitignore
tsconfig.json
src/**
node_modules/** (vsce handles node_modules independently)
happy-spring-tomcat-*.vsix
out/test/**
test/**
build.bat
package-lock.json
**/.*
**/*.map
**/*.ts
.tmp/**